body {
  margin: 10px;
  background-color: rgb(122, 120, 120);
}

h1 {
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
  margin-bottom: 20px;
}
.container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(212, 212, 212);
}
