* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  padding: 10px;
  flex-wrap: wrap;
}

.links a {
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 2px 2px white;
  margin-left: 10px;
}